semester_5/oop/lab2/src/xml/tourist_vouchers.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ===================== SIMPLE TYPES ===================== -->

    <!-- Тип туристичної путівки -->
    <xs:simpleType name="VoucherType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WEEKEND"/>
            <xs:enumeration value="EXCURSION"/>
            <xs:enumeration value="REST"/>
            <xs:enumeration value="PILGRIMAGE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Тип транспорту -->
    <xs:simpleType name="TransportType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIR"/>
            <xs:enumeration value="TRAIN"/>
            <xs:enumeration value="BUS"/>
            <xs:enumeration value="SHIP"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Тип кімнати в готелі -->
    <xs:simpleType name="RoomType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SINGLE"/>
            <xs:enumeration value="DOUBLE"/>
            <xs:enumeration value="TRIPLE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Тип харчування -->
    <xs:simpleType name="MealsType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RO"/>
            <xs:enumeration value="BB"/>
            <xs:enumeration value="HB"/>
            <xs:enumeration value="FB"/>
            <xs:enumeration value="AI"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Кількість днів/ночей -->
    <xs:simpleType name="DaysType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Кількість зірок готелю -->
    <xs:simpleType name="StarsType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Вартість путівки -->
    <xs:simpleType name="CostType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Валюта -->
    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="USD"/>
            <xs:enumeration value="UAH"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ===================== COMPLEX TYPES ===================== -->

    <!-- Опис готелю -->
    <xs:complexType name="HotelType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="stars" type="StarsType"/>
            <xs:element name="room_type" type="RoomType"/>
            <xs:element name="meals" type="MealsType"/>
            <xs:element name="tv" type="xs:boolean"/>
            <xs:element name="air_conditioner" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Одна туристична путівка -->
    <xs:complexType name="TouristVoucherType">
        <xs:sequence>
            <xs:element name="type" type="VoucherType"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="days" type="DaysType"/>
            <xs:element name="nights" type="DaysType"/>
            <xs:element name="transport" type="TransportType"/>
            <xs:element name="hotel" type="HotelType"/>
            <xs:element name="cost">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="CostType">
                            <xs:attribute name="currency" type="CurrencyType" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Колекція туристичних путівок -->
    <xs:complexType name="TouristVouchersType">
        <xs:sequence>
            <xs:element name="tourist_voucher" type="TouristVoucherType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Кореневий елемент -->
    <xs:element name="tourist_vouchers" type="TouristVouchersType"/>

</xs:schema>
